<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting type="action" label="30010" action="RunScript(script.service.betaseries-watched,authentication)" />

        <setting type="lsep" label="31000" />
        <setting type="bool" label="31010" id="sync_movies" default="false" />
        <setting type="bool" label="31020" id="sync_episodes" default="false" />

        <setting type="lsep" label="32000" />
        <setting type="bool" label="32010" id="notify_mail" default="false" />
        <setting type="bool" label="32020" id="notify_twitter" default="false" />
        <setting type="bool" label="32030" id="update_profile" default="false" />
    </category>
</settings>
